@import url("https://fonts.googleapis.com/css?family=Poppins:regular&display=swap");
/*Обнулення*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/* ===================================================================================== */
body {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  background-color: #000;
  color: #c0c0c0;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
[class*="__container"] {
  max-width: 1330px;
  padding: 0 15px;
  margin: 0px auto;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/* ======================================== Page ======================================== */
.page {
  flex: 1 1 auto;
}
.page__main {
}
.page__about {
}
.page__sunset {
}
.page__tools {
}
.page__leafs {
}
.page__clients {
}
.page__star {
}
.page__help {
}
/* ================================================================================ */
/* ======================================== Header ======================================== */
.header {
  background-color: #181818;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0px auto;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.menu__item:first-child {
  padding-right: 56px;
}
.menu__link {
  color: #fff;
  font-size: 13px;
  line-height: 153.846%;
}
.menu__link:hover {
  text-decoration: underline;
}
.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background-color: #fff;
  padding: 11px 22.1px 11px 22.1px;
  text-align: center;
  color: #000;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.4px;
  transition: all 0.3s ease;
}
.header__btn:hover {
  background-color: #c0c0c0;
}
@media (max-width: 900px) {
  .menu__item:first-child {
    padding-right: 10px;
  }
}
@media (max-width: 815px) {
  .header__container {
    min-height: 70px;
  }
  .menu__list {
    gap: 20px;
  }
}

@media (min-width: 760.98px) {
  .burger-menu {
    display: none;
  }
}
@media (max-width: 760.98px) {
  .menu {
    display: none;
  }
  .burger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .line {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
}
/* ================================================================================ */
/* ======================================== Main ======================================== */
.main {
  position: relative;
  min-height: 100vh;
}
.main__container {
  padding-top: 440px;
  padding-bottom: 45px;
  position: relative;
  z-index: 50;
}
.main__body {
  text-align: center;
  max-width: 600px;
  margin: 0px auto;
  padding-bottom: 20px;
}
.main__subtitle {
  line-height: 142.857%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.main__subtitle:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.main__title {
  color: #fff;
  font-size: 54px;
  line-height: 110%;
}
.main__title:not(:last-child) {
  margin: 0px 0px 18px 0px;
}
.main__text {
  line-height: 142.857%;
}
.main__row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
.main__icon {
}
.main__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 610.98px) {
  .main__container {
    padding-top: 340px;
  }
  .main__title {
    font-size: 46px;
  }
  .main__row {
    justify-content: center;
  }
}
@media (max-width: 415.98px) {
  .main__container {
    padding-top: 240px;
  }
  .main__title {
    font-size: 40px;
  }
}
@media (max-width: 360px) {
  .main__title {
    font-size: 36px;
  }
}
@media (max-width: 330px) {
  .main__title {
    font-size: 33px;
  }
}
/* ================================================================================ */
/* ======================================== About ======================================== */
.about {
  padding-top: 113px;
  padding-bottom: 100px;
}
.about__container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0 15px;
}
.about__title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  line-height: 105%;
}
.about__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.about__subtitle {
  text-align: center;
  font-size: 23px;
  line-height: 130.435%;
}
.about__subtitle:not(:last-child) {
  margin: 0px 0px 42px 0px;
}
.about__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 16px;
}
.about__column {
}
.about__body {
  position: relative;
}
.about__item {
}
.item-about {
}
.item-about__image {
  max-width: 100%;
  position: relative;
}
.item-about__image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.item-about__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 50;
  padding: 30px 30px 30px 30px;
}
.item-about__title {
  color: #fff;
  line-height: 142.857%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.item-about__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.item-about__text {
  line-height: 142.857%;
  max-width: 516px;
}
.item-about__text:not(:last-child) {
  margin: 0px 0px 17px 0px;
}
.item-about__btn {
  display: flex;
  align-items: center;
  border-radius: 14px;
  background: #fff;
  max-width: 143px;
  height: 42px;
  border: 2px solid #fff;
  padding: 11px 10px 11px 4px;
  transition: all 0.3s ease;
}
.item-about__btn:hover {
  background-color: #000;
}
.item-about__circle {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 6px;
  transition: all 0.3s ease;
}
.item-about__btn:hover .item-about__circle {
  background-color: #fff;
}
.item-about__btn:hover .item-about__read {
  color: #fff;
}
.item-about__read {
  color: #000;
  font-size: 15px;
  line-height: 133.333%;
  letter-spacing: 0.4px;
}
@media (max-width: 815px) {
  .about {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .about__row {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 610.98px) {
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 430.98px) {
  .about {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about__subtitle {
    font-size: 17px;
  }
}
/* ================================================================================ */
/* ======================================== leafs ======================================== */
.sunset {
  position: relative;
  min-height: 37.5rem;
}
.sunset__container {
  position: relative;
  z-index: 50;
  padding-top: 260px;
  padding-bottom: 40px;
}
.sunset__body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 200px;
}
.sunset__title {
  color: #fff;
  line-height: 142.857%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.sunset__title:not(:last-child) {
  margin: 0px 0px 3px 0px;
}
.sunset__text {
  line-height: 142.857%;
  text-align: right;
  max-width: 298px;
}
.sunset__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
.sunset__icon {
}
.sunset__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 815px) {
  .sunset__container {
    padding-top: 200px;
  }
}
@media (max-width: 610.98px) {
  .sunset__container {
    padding-top: 150px;
  }
}
@media (max-width: 430.98px) {
  .leafs {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .sunset__container {
    justify-content: center;
  }

  .sunset__text {
    text-align: center;
  }
  .sunset__body {
    align-items: center;
  }
  .sunset__row {
    justify-content: center;
  }
  .sunset__body {
    margin: 0px 0px 130px 0px;
    text-align: center;
  }
}
/* ================================================================================ */
/* ======================================== Tools ======================================== */
.tools {
}
.tools__container {
  display: flex;
  justify-content: space-between;
}
.tools__body {
  padding-top: 173px;
  padding-bottom: 153px;
  flex: 0 1 40%;
}
.tools__subtitle {
  line-height: 142.857%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.tools__subtitle:not(:last-child) {
  margin: 0px 0px 6px 0px;
}
.tools__title {
  color: #fff;
  font-size: 28px;
  line-height: 114.286%;
}
.tools__title:not(:last-child) {
  margin: 0px 0px 16px 0px;
}
.tools__text {
  color: #fff;
  line-height: 142.857%;
  max-width: 514px;
}
.tools__text:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.tools__btn {
  display: flex;
  align-items: center;
  border-radius: 14px;
  background: #fff;
  max-width: 152px;
  height: 42px;
  border: 2px solid #fff;
  padding: 11px 10px 11px 4px;
  transition: all 0.3s ease;
}
.tools__btn:hover {
  background-color: #000;
}
.tools__circle {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 6px;
  transition: all 0.3s ease;
}
.tools__btn:hover .tools__circle {
  background-color: #fff;
}
.tools__btn:hover .tools__read {
  color: #fff;
}
.tools__read {
  color: #000;
  font-size: 15px;
  line-height: 133.333%;
  letter-spacing: 0.4px;
}
.tools__image {
  display: inline-block;
  margin: 0px -136px 0px 0px;
  flex: 0 1 60%;
}
.tools__image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 785px) {
  .tools__container {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
  }
  .tools__text {
    max-width: none;
  }
  .tools__body {
    padding-top: 50px;
    padding-bottom: 30px;
    flex: 1 1 auto;
  }
  .tools__image {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    flex: 1 1 auto;
  }
  .tools__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 415.98px) {
  .tools__body {
    padding-top: 30px;
    flex: 1 1 auto;
  }
  .tools__title {
    font-size: 22px;
  }
}
/* ================================================================================ */
/* ======================================== Leafs ======================================== */
.leafs {
  position: relative;
  min-height: 37.5rem;
}
.leafs__container {
  position: relative;
  z-index: 50;
  padding-top: 260px;
  padding-bottom: 40px;
}
.leafs__body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 200px;
}
.leafs__title {
  color: #fff;
  line-height: 142.857%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.leafs__title:not(:last-child) {
  margin: 0px 0px 3px 0px;
}
.leafs__text {
  line-height: 142.857%;
  text-align: right;
  max-width: 298px;
}
.leafs__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
.leafs__icon {
}
.leafs__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 815px) {
  .leafs__container {
    padding-top: 200px;
  }
}
@media (max-width: 610.98px) {
  .leafs__container {
    padding-top: 150px;
  }
}
@media (max-width: 430.98px) {
  .leafs {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .leafs__container {
    justify-content: center;
  }

  .leafs__text {
    text-align: center;
  }
  .leafs__body {
    align-items: center;
  }
  .leafs__row {
    justify-content: center;
  }
  .leafs__body {
    margin: 0px 0px 130px 0px;
    text-align: center;
  }
}
/* ================================================================================ */
/* ======================================== Clients ======================================== */
.clients {
  padding-top: 113px;
  padding-bottom: 100px;
}
.clients__container {
}
.clients__title {
  color: #fff;
  font-size: 40px;
  line-height: 105%;
  text-align: center;
}
.clients__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.clients__subtitle {
  font-size: 24px;
  line-height: 125%;
  text-align: center;
}
.clients__subtitle:not(:last-child) {
  margin: 0px 0px 42px 0px;
}
.clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 109px;
  justify-content: center;
}
.clients__item {
  flex: 0 0 128px;
}
.clients__item img {
  max-width: 100%;
}
@media (max-width: 870.98px) {
  .clients {
    padding-top: 90px;
  }
  .clients__items {
    gap: 90px;
  }
}
@media (max-width: 610.98px) {
  .clients {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .clients__items {
    gap: 60px;
  }
}
@media (max-width: 360px) {
  .clients__subtitle {
    font-size: 20px;
  }
}
/* ================================================================================ */
/* ======================================== Star ======================================== */
.star {
  position: relative;
  min-height: 37.5rem;
}
.star__container {
  position: relative;
  z-index: 50;
  padding-top: 260px;
  padding-bottom: 40px;
}
.star__body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 200px;
}
.star__title {
  color: #fff;
  line-height: 142.857%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.star__title:not(:last-child) {
  margin: 0px 0px 3px 0px;
}
.star__text {
  line-height: 142.857%;
  text-align: right;
  max-width: 298px;
}
.star__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
.star__icon {
}
.star__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 815px) {
  .star__container {
    padding-top: 200px;
  }
}
@media (max-width: 610.98px) {
  .star__container {
    padding-top: 150px;
  }
}
@media (max-width: 430.98px) {
  .star {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .star__container {
    justify-content: center;
  }

  .star__text {
    text-align: center;
  }
  .star__body {
    align-items: center;
  }
  .star__row {
    justify-content: center;
  }
  .star__background {
    opacity: 0.8;
  }
  .star__body {
    margin: 0px 0px 130px 0px;
    text-align: center;
  }
}
/* ================================================================================ */
/* ======================================== Help ======================================== */
.help {
  padding-top: 133px;
  padding-bottom: 108px;
}
.help__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help__title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  line-height: 105%;
  max-width: 571px;
}
.help__title:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.help__subtitle {
  text-align: center;
  font-size: 24px;
  line-height: 125%;
}
.help__subtitle:not(:last-child) {
  margin: 0px 0px 22px 0px;
}
.help__btn {
  display: flex;
  align-items: center;
  border-radius: 14px;
  background: #fff;
  max-width: 152px;
  height: 42px;
  border: 2px solid #fff;
  padding: 11px 10px 11px 4px;
  transition: all 0.3s ease;
}
.help__btn:hover {
  background-color: #000;
}
.help__circle {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 6px;
  transition: all 0.3s ease;
}
.help__btn:hover .help__circle {
  background-color: #fff;
}
.help__btn:hover .help__read {
  color: #fff;
}
.help__read {
  color: #000;
  font-size: 15px;
  line-height: 133.333%;
  letter-spacing: 0.4px;
}
@media (max-width: 815px) {
  .help {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
@media (max-width: 610.98px) {
  .help {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}
@media (max-width: 610.98px) {
  .help {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .help__title {
    font-size: 32px;
    max-width: none;
  }
  .help__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 430.98px) {
  .help {
    padding-top: 40px;
    padding-bottom: 30px;
  }
} /* ================================================================================ */
